@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

body,
a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
placeholder,
select,
option,
textarea,form,div,label,span {

  font-family: "Roboto", sans-serif !important;
}



.ast-button,
placeholder,
label,
h1,
h2,
h3,
h4,
h5,
select,
textarea .ast-custom-button {
  font-family: "Roboto", sans-serif !important;
}

.sidebar-dark {
  --cui-body-color: rgba(255, 255, 255, 0.87);
  --cui-body-bg:  #042954;
  --cui-emphasis-color: #fff;
  --cui-secondary-color:  #042954;
  --cui-secondary-bg:  #042954;
  --cui-tertiary-color:  #042954;
  --cui-tertiary-bg: #042954;
  --cui-border-color: #042954 !important;
  /* border: none !important; */
}

.header.header-sticky {
    position: sticky !important;
    top: 0 !important;
    z-index: 93 !important;
}
 
.sidebar-fixed,
.sidebar-narrow-unfoldable,
.sidebar-overlaid {
    position: fixed;
    top: 0;
    bottom: 0;
    /* z-index: var(--cui-sidebar-zindex); */
    z-index: 104 !important;
}
 
@media (max-width: 991.98px) {
    .sidebar-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        /* z-index: var(--cui-backdrop-zindex); */
        width: 100vw;
        height: 100vh;
        background-color: var(--cui-backdrop-bg);
        z-index: 5 !important;
    }
}
body {
  background-color: #f7f7f7 !important;
}
@media (max-width: 768px) {
  .sidebar {
    position: fixed !important;
    left: 0 !important;
    top: 0;
    bottom: 0;
    width: 250px !important;
    z-index: 9999 !important;
    transform: translateX(0) !important;
  }
 
  .sidebar .simplebar-mask {
    overflow: visible !important;
  }
 
  body {
    overflow-x: hidden;
  }
}


/* Enrollment Tabs Border  */
.enrollment-tabs .ant-tabs-content-holder {
  border: 1px solid #d9d9d9;
  padding: 20px;
  border-radius: 6px;
}

.enrollment-tabs .ant-tabs-nav {
  margin-bottom: 0;
    /* border: 1px solid #d9d9d9; */

}

.enrollment-tabs .ant-tabs-tab {
  border-radius: 6px 6px 0 0;
}

.enrollment-tabs .ant-tabs-tab-active {
  background: #fff;
  border-bottom-color: #fff;
}


.sidebar-nav .nav-link.active {
   
    color: #fabf22;
    background: #051f3e;
}
.nav-link{
  font-size: 15px !important;
}

.card {
    background: white;
    border-radius: 10px !important;
    transition: all 0.3s;
}

/* Compact ANTD table (thead + tbody) */
/* .fees-compact-table .ant-table-thead > tr > th,
.fees-compact-table .ant-table-tbody > tr > td {
  padding: 6px 8px !important;
  font-size: 12px;
  line-height: 1.2;
} */

/* Action column extra tight */
/* .fees-compact-table .ant-table-cell:last-child {
  padding-left: 4px !important;
  padding-right: 4px !important;
} */

.fees-compact-table .ant-table-thead > tr > th{
  background-color: #f3f4f6;
}

/* :where(.css-dev-only-do-not-override-1odpy5d).ant-modal .ant-modal-content {
    position: relative;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    pointer-events: auto;
    padding: 20px 24px;
    overflow-x: scroll;
    height: 700px;
} */

