// Here you can add other styles
.font-2{
    font-size: 2px;
}
.font-4{
    font-size: 4px;
}
.font-6{
    font-size: 6px;
}
.font-8{
    font-size: 8px;
}
.font-10{
    font-size: 10px;
}
.font-12{
    font-size: 12px;
}
.font-14{
    font-size: 14px;
}
.font-16{
    font-size: 16px;
}
.font-18{
    font-size: 18px;
}
.font-20{
    font-size: 20px;
}
.font-22{
    font-size: 22px;
}
.font-24{
    font-size: 24px;
}
.font-28{
    font-size: 28px;
}
.font-30{
    font-size: 30px;
}
.font-30{
    font-size: 30px;
}
.font-32{
    font-size: 32px;
}
.font-34{
    font-size: 34px;
}
.font-36{
    font-size: 36px;
}
.font-40{
    font-size: 40px;
}
.font-60{
    font-size: 60px;
}


.bgprimary{
    background-color: blue;
    color: white;
}

.bgsecondry{
    background-color: red;
    color: white;
}

.bg3{
    background-color: gray;
    color: white;
}

.bg4{
    background-color: orange;
    color: white;
}



/* width */
::-webkit-scrollbar {
  width: 10px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1 !important; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888 !important; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555 !important; 
}





.invoice-container {
  border: 1px solid #005697;
}
.invoice-border-bottom {
  border-bottom: 1px solid #005697;
}

.invoice-border-top {
  border-top: 1px solid #005697;
}

.invoice-border-left {
  border-left: 1px solid #005697;
}

.invoice-border-right {
  border-right: 1px solid #005697;
}



